body {
    font-family:Futura, “Trebuchet MS”, Arial, sans-serif;
    font-weight: 100;
    text-align:left;
    font-size: 19px;
    color: #8e8e8e;
    transform: scale(1.1);
    transform-origin: 10% 10%;
    
    float:center;
    margin-left: 26%;
    min-width:460px;
    max-width:460px;
    background-color:transparent;
}
.top_base {
    background-color:white;
}
.box {
    background-color:transparent;
    margin-left:3px;
    line-height:150%;
}
age {
    position:absolute;
    bottom:0;
    right:0;
    color:gray;
    font-size:12px;
}


h1 {
    font-size: 20px;
    font-weight:100;
    text-align:center;
    color: #848484;
}
h2 {
    font-size:inherit;
    font-weight:100;
    text-align:left;
    color: #606060;
}
h3 {
    text-align:center;
    color: #32ac97;
}
h4 {
    font-size:20px;
    font-weight:100;
    text-align:left;
    color: #848484;
}
.center {
    text-align:center;
}
h5 {
    font-size:20px;
    font-weight:100;
    text-align:center;
    color: #848484;
    line-height:30%;
}


.spacing {
    line-height:140%;
}

#main_title {
    color:#32ac97;
    padding-top: 40px;
    padding-bottom:23px;
    font-size: 33.6px;
    min-width:500px;
}

.navbar {
    margin-bottom: 32px;
    min-width:500px;
}
.navlinks {
    padding-left: 17px;
    padding-right: 17px;
    font-size: 27px;
}
.about_q {
    text-align:right;
    margin-right:15px;
}

input[type=text] {
    font-size: 20px;
    font-family:inherit;
    color:inherit;
    padding-left:8px;
    padding-right:8px;
    border: 1px solid #bebebe;
    border-radius:6px;
}

label, input {
    display: inline-block;
}
label + input {
    display: inline-block;
    margin-left: 2%;
}
label{
    width: 45%;
    text-align: right;
    color: #bebebe;
    background-color:transparent;
    font-size:20px;
}
input {
    width:30%;
}


.buy_outer{
    background: white;
    display: table;
    max-width: 400px;
    border: 1px solid #e0e0e0;
    border-radius:6px;
    border-spacing:5px;
    margin-left:10px;
}
.buy_inner{
    text-align:center;
    background-color:white;
}
th{
    min-width:77px;
}
td {
    padding: 1;
}

.buy_outer, .review_order {
    display: inline-block;
}
.review_outer{
    position:relative;
    float:right;
    background: white;
    max-width: 200px;
    border: 1px solid white;
    border-radius:6px;
    border-spacing:5px;
    margin-right:50px;
    margin-top:0px;
}
.review_inner{
    text-align:center;
    background-color:white;
}
.buy_input {
    width:100px;
}
.buy_mp {
    color:#32ac97;
    font-size:20px;
    margin-bottom:5px;
}
.buy_links {
    line-height:175%;
}
.review_button {
    font-family:inherit;
    font-size:17px;
    text-align:center;
    float:right;
    margin-top:7px;
    margin-bottom:10px;
    
    width:118px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.review_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}
a.text_link:link{
    font-size:inherit;
    color: #b2b0b0;
}
a.text_link:hover{
    font-size:inherit;
    color: #32ac97;
}
a.text_link:visited{
    font-size:inherit;
    color: #b2b0b0;
}
a.text_link:visited:hover{
    font-size:inherit;
    color: #32ac97;
}
.newbuy_note {
    line-height:120
}
.contact_button {
    font-family:inherit;
    font-size:17px;
    text-align:center;
    float:right;
    margin-top:8px;
    margin-right:26%;
    
    width:118px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.contact_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}
.stat {
    position:relative;
    color:#32ac97;
    margin-top:45px;
    margin-left:42%;
}

.sell_button {
    font-family:inherit;
    font-size:20px;
    text-align:center;
    float:right;
    margin-top:10px;
    margin-right:18%;
    
    width:70px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.sell_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}
.editsell {
    line-height:10%;
    background-color:transparent;
}
.editsell_input {
    display:block;
    margin-left:32%;
}
.editsell_button {
    margin-top:10px;
    margin-right:34.3%;
    font-family:inherit;
    font-size:inherit;
    text-align:center;
    float:right;
    
    width:70px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.editsell_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}


.wish_outer{
    background: white;
    display: table;
    max-width: 400px;
    border: 1px solid white;
    border-radius:6px;
    border-spacing:5px;
    margin-left:30%;
}
.wish_inner{
    text-align:center;
    background-color:white;
}
.wish_button {
    margin-top:10px;
    margin-right:18%;
    font-family:inherit;
    font-size:inherit;
    text-align:center;
    float:right;
    
    width:70px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.wish_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}



.feedback_text {
    height: 50%;
    width:50%;
}
::-webkit-input-placeholder {
    color:lightgrey;
    text-align:left;
}


.faq_label{
    width:40%;
}
.faq_button {
    font-family:inherit;
    font-size:inherit;
    text-align:center;
    float:right;
    margin-top:10px;
    margin-right:23%;
    
    width:70px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.faq_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}
.list {
    position:relative;
    text-align: left;
}


.error {
    color: #a0ff00;
}
a:link {
    color:#606060; 
    text-decoration:none; 
}      
a:visited {
    color:#606060; 
    text-decoration:none; 
}
a:hover {
    color:#32ac97; 
    text-decoration:none; 
    transition: all 500ms ease;
}  
a:active {
    color:#606060; 
    text-decoration:none;
}  /* selected */
