body {
    font-family:Futura, “Trebuchet MS”, Arial, sans-serif;
    font-weight: 100;
    text-align:left;
    font-size: 20px;
    color: #717171;
    transform: scale(1.1);
    transform-origin: 10% 10%;
    
    float:center;
    margin-left: 31%;
    margin-right: 31%;
    min-width:450px;
    max-width:450px;
}
.box {
    background-color:transparent;
}

age {
    position:absolute;
    bottom:0;
    right:0;
    color:gray;
    font-size:12px;
}
h1 {
    font-size: 20px;
    font-weight:100;
    text-align:center;
    color: #656565;
    line-height:80%;
}
h2 {
    font-size: 25px;
    color: #4a4a4a;
    text-align:left;
}

#main_title {
    color:#32ac97;
    padding-top: 40px;
    padding-bottom:25px;
    font-size: 34px;
    min-width:500px;
    
}

.navbar {
    margin-bottom: 27px;
    min-width:500px;
}

.navlinks {
    padding-left: 17px;
    padding-right: 17px;
    font-size: 27px;
}
.about_q {
    text-align:right;
}
.text_link {
    color: #888;
}



input[type=text] {
    font-size: 19px;
    font-family:inherit;
    color:inherit;
    padding-left:8px;
    padding-right:8px;
    border: 1px solid #bebebe;
    border-radius:6px;
}

label, input {
    display: inline-block;
}
label + input {
    display: inline-block;
    margin-left: 2%;
}
label{
    width: 45%;
    text-align: right;
    color: #bebebe;
    background-color:transparent;
}
input {
    width:30%;
}


.outer{
    background: white;
    display: table;
    max-width: 400px;
    border: 2px solid #bebebe;
    border-radius:6px;
    border-spacing:5px;
    margin-left:23%;
}
.inner{
    text-align:center;
    background-color:white;
}
th{
    min-width:80px;
}
td {
    padding: 1;
}



.buy_input {
    width:20%;
}
.review_button {
    font-family:inherit;
    font-size:16px;
    text-align:center;
    float:right;
    margin-top:10px;
    margin-right:28%;
    
    width:107px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.review_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}

.sell_button {
    font-family:inherit;
    font-size:inherit;
    text-align:center;
    float:right;
    margin-top:10px;
    margin-right:18%;
    
    width:60px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.sell_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}


.wish_button {
    margin-top:10px;
    margin-right:20%;
    font-family:inherit;
    font-size:inherit;
    text-align:center;
    float:right;
    
    width:60px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.wish_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}



.feedback_text {
    height: 50%;
    width:50%;
}

.faq_label{
    width:40%;
}
.faq_button {
    font-family:inherit;
    font-size:inherit;
    text-align:center;
    float:right;
    margin-top:10px;
    margin-right:23%;
    
    width:60px;
    background-color:white;
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.faq_button:hover {
    border-color: #32ac97;
    color: #32ac97;
    transition-duration: 400ms;
}
.list {
    position:relative;
    text-align: left;
}




.error {
    color: #a0ff00;
}
a:link {
    color:#a3a3a3; 
    text-decoration:none; 
}      
a:visited {
    color:#a3a3a3; 
    text-decoration:none; 
}
a:hover {
    color:#4e4e4e; 
    text-decoration:none; 
    transition: all 500ms ease;
}  
a:active {
    color:#4e4e4e; 
    text-decoration:none;
}  /* selected */
