body {
/*    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size:16px;
    color:grey;
    text-align:center;
    margin: 0 auto;
    overflow:scroll;
}
::-webkit-scrollbar { 
    display: show; 
}
.white {
    position:fixed;
    width:100%;
    height:115px;
    z-index:1;
    background-color:white;
}
    
#front-title {
    position:fixed;
    width:100%;
    top:25px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color:black;   
    background-color:white;
    z-index:10;
}

.navbar {
    position:fixed;
    width:100%;
    top:69px;
    font-family: 'Nunito', sans-serif;
    margin:0 auto;
    text-align:center;
    background-color:white;
    z-index:10;
    
}
.navlinks {
    font-size:21px;
    background-color:white;
    display:inline-block;
    width:55px;
    margin-left:25px;
    margin-right:25px;
    
}
.current_link {
    font-size:21px;
    background-color:white;
    display:inline-block;
    width:55px;
    margin-left:25px;
    margin-right:25px;
}
a.current_link:link{
    border-bottom:3px solid #32ac97;
}
a.current_link:hover{
}
a.current_link:visited{
}
a.current_link:visited:hover{
}


.center {
    position:relative;
    margin:0 auto;
    top:150px;
    background-color:white;
}
.centeralign {
    text-align:center;
}

input[type=text] {
    line-height:130%;
    font-size: 19px;
    font-family:inherit;
    color:inherit;
    
    width:180px;
    height:45px;
    margin-bottom:10px;
    border: 2px solid #bcbcbc;
    border-radius:5px;
    text-align:center;
}
input:focus, textarea:focus { 
    outline:none;
    border: 2px solid #20bca1;
    box-shadow:0 0 3px #32ac97;
    font-size: 19px !important;
}
.adjust {
    margin-top:-40px;
}

textarea {
    line-height:130%;
    font-size: inherit;
    font-family:inherit;
    color:#8b8b8b;
    margin-bottom:10px;
    padding: 10px;
    width:160px;
    height:100px;
    border: 2px solid #bcbcbc;
    border-radius:8px;
    text-align:left;
}
textarea, input { outline: none; }



.button {
    font-family:inherit;
    font-size:18px;
    
    width:180px;
    height:45px;
    background-color:white;
    color:grey;
    border: 2px solid grey;
    border-radius:6px;
}
.button:hover {
    border-color: #0a7663;
    background-color:#32ac97;
    color: white;
    transition-duration: 400ms;
}

.resend_button {
    width:130px;
}

.tenbelow {
    margin-bottom:10px;
}
.spacing {
    line-height:170%;
}
.spacing200 {
    line-height:200%;
}
.spaceup {
    margin-top:10px;
}


body::-webkit-scrollbar { 
    display: none; 
}
#table::-webkit-scrollbar { 
    display: show; 
}
.theader {
    position:fixed;
    width:100%;
    top:115px;
}

.theader span {
    font-size:21px;
    display:inline-block;
    background-color:white;
    margin-bottom:10px;
    width:100px;
    color:black;
}
.entry {
/*    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-size:19px;
    display:inline-block;
    width:100px;
    background-color:white;
}

a.text_link:link{
    font-size:16px;
    color: grey;
}
a.text_link:hover{
    font-size:16px;
    color: #32ac97;
}
a.text_link:visited{
    font-size:16px;
    color: grey;
}
a.text_link:visited:hover{
    font-size:16px;
    color: #32ac97;
}



h2 {
    font-size:17px;
    color:black;
    font-weight:100;
}
.left {
    text-align:left;
}
.stat {
    position:relative;
    color:#32ac97;
    margin-top:20px;
}


::-webkit-input-placeholder {
    color:#c4c4c4;
    text-align:center;
    padding-top:1px;
    font-size:inherit;
}


a:link {
    color:#656565; 
    text-decoration:none; 
}      
a:visited {
    color:#656565; 
    text-decoration:none; 
}
a:hover {
    color:#32ac97; 
    text-decoration:none; 
    transition: 500ms;
}  