body {
/*    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size:20px;
    text-align:center;
    margin: 0 auto;
    overflow:scroll;
}

#front-title {
    position:relative;
    top:35px;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color:black;    
}

.navbar {
    position:relative;
    top:50px;
    font-family: 'Nunito', sans-serif;
    margin:0 auto;
    text-align:center;
    background-color:white;
    
}
.navlinks {
    font-size: 24px;
    background-color:white;
    display:inline-block;
    width:70px;
    padding-top:10px;
    height:20px;
    margin-left:10px;
    margin-right:10px;
    
}
.current_link {
    font-size: 24px;
    background-color:white;
    display:inline-block;
    width:70px;
    margin-left:10px;
    margin-right:10px;
    padding-top:10px;
    height:20px;
}
a.current_link:link{
    font-size: 24px;
    border-top:3px solid #32ac97;
}
a.current_link:hover{
    font-size: 24px;
}
a.current_link:visited{
    font-size: 24px;
}
a.current_link:visited:hover{
    font-size: 24px;
}


.center {
    position:relative;
    top:70px;
    display:block;
    margin:0 auto;
    width:500px;
    background-color:white;
}


input[type=text] {
    line-height:130%;
    font-size: inherit;
    font-family:inherit;
    color:#8b8b8b;
    margin-bottom:10px;
    
    width:200px;
    height:45px;
    border: 2px solid #bcbcbc;
    border-radius:8px;
    text-align:center;
}
input:focus { 
    outline:none;
    border-color:#32ac97;
    box-shadow:0 0 5px #32ac97;
}


textarea {
    line-height:130%;
    font-size: inherit;
    font-family:inherit;
    color:#8b8b8b;
    margin-bottom:10px;
    padding: 10px;
    width:185px;
    height:100px;
    border: 2px solid #bcbcbc;
    border-radius:8px;
    text-align:left;
}
textarea, input { outline: none; }



.button {
    font-family:inherit;
    font-size:18px;
    margin-top:15px;
    
    width:200px;
    height:45px;
    background-color:white;
    color:#32ac97;
    border: 2px solid #32ac97;
    border-radius:6px;
}
.button:hover {
    border-color: #0a7663;
    color: #0a7663;
    transition-duration: 400ms;
}

.resend_button {
    color:#bebebe;
    border: 1px solid #bebebe;
    border-radius:6px;
}
.resend_button:hover {
    border-color: #606060;
    color: #606060;
    transition-duration: 400ms;
}

.table{
    width: 400px;
    max-height:90%;
    font-size:18px;
    background-color:white;
    
    margin: 0 auto;
    line-height:240%;
}
.theader span {
    /*    font-family: 'Josefin Sans', sans-serif;*/
    font-weight: 100;
    font-size:24px;
    color:black;
    display:inline-block;
    width:110px;
    background-color:white;
    margin-bottom:10px;
}
.entry {
/*    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-weight: 300;
    font-size:22px;
    display:inline-block;
    width:110px;
    background-color:white;
}

a.text_link:link{
    font-size:17px;
    color: #c7c7c7;
}
a.text_link:hover{
    font-size:17px;
    color: #32ac97;
}
a.text_link:visited{
    font-size:17px;
    color: #c7c7c7;
}
a.text_link:visited:hover{
    font-size:17px;
    color: #32ac97;
}



h2 {
    font-size:10px;
}
.left {
    text-align:left;
}
.stat {
    position:relative;
    color:#32ac97;
    margin-top:20px;
}


::-webkit-input-placeholder {
    color:#c4c4c4;
    text-align:center;
    padding-top:1px;
    font-size:inherit;
}


a:link {
    color:#656565; 
    text-decoration:none; 
}      
a:visited {
    color:#656565; 
    text-decoration:none; 
}
a:hover {
    color:#32ac97; 
    text-decoration:none; 
    transition: 500ms;
}  