body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size:16px;
    color:grey;
    text-align:center;
    margin: 0 auto;
    overflow:scroll;
}

#front-title {
    position:relative;
    top:25px;
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    color:black;    
}

.navbar {
    position:relative;
    top:40px;
    font-family: 'Nunito', sans-serif;
    margin:0 auto;
    text-align:center;
    background-color:white;
    color:#11b99c;
    
}
.navlinks {
    font-size:21px;
    background-color:white;
    display:inline-block;
    width:55px;
    margin-left:25px;
    margin-right:25px;
}
.navlinks:hover {
    color:#717171;
}
.current_link {
    font-size:21px;
    background-color:white;
    display:inline-block;
    width:55px;
    margin-left:25px;
    margin-right:25px;
    border-bottom:3px solid #11b99c;
}
.current_link:hover {
    color:#717171;
}
a.current_link:link{
    border-bottom:3px solid #11b99c;
}
a.current_link:hover{
}
a.current_link:visited{
}
a.current_link:visited:hover{
}
a.mylink:link {
    color: #11b99c;
}
a.mylink:hover {
    color: #11b99c;
}
a.mylink:visited {
    color: #11b99c;
}
a.mylink:visited:hover {
    color: #11b99c;
}

.center {
    position:relative;
    margin:0 auto;
    top:50px;
    background-color:white;
}


input[type=text] {
    line-height:130%;
    font-size: 19px;
    font-family:inherit;
    color:inherit;
    
    width:180px;
    height:45px;
    margin-bottom:10px;
    border: 2px solid #bcbcbc;
    border-radius:5px;
    text-align:center;
}
input:focus, textarea:focus { 
    outline:none;
    border: 2px solid #20bca1;
    box-shadow:0 0 3px #11b99c;
    font-size: 19px !important;
}



textarea {
    line-height:130%;
    font-size: inherit;
    font-family:inherit;
    color:#8b8b8b;
    margin-bottom:10px;
    padding: 10px;
    width:160px;
    height:100px;
    border: 2px solid #bcbcbc;
    border-radius:8px;
    text-align:left;
}
textarea, input { outline: none; }



.button {
    font-family:inherit;
    font-size:18px;
    
    width:180px;
    height:45px;
    background-color:white;
    color:grey;
    border: 2px solid grey;
    border-radius:6px;
}
.button:hover {
    border-color: #0a7663;
    background-color:#2bad97;
    color: white;
    transition-duration: 400ms;
}

.resend_button {
    width:130px;
}



.tenbelow {
    margin-bottom:10px;
}
.bottomspace {
    margin-bottom:70px;
}
.spacing {
    line-height:170%;
}
.spacing200 {
    line-height:230%;
}
.spaceup {
    margin-top:10px;
}



.theader span {
    font-size:21px;
    display:inline-block;
    background-color:white;
    width:100px;
    color:black;
}
.entry {
    font-size:18.5px;
    display:inline-block;
    width:100px;
    background-color:white;
}

a.text_link:link{
    font-size:16px;
    color: grey;
    text-decoration:underline;
}
a.text_link:hover{
    font-size:16px;
    color: #11b99c;
    text-decoration:underline;
}
a.text_link:visited{
    font-size:16px;
    color: grey;
    text-decoration:underline;
}
a.text_link:visited:hover{
    font-size:16px;
    color: #11b99c;
    text-decoration:underline;
}



h2 {
    font-size:17px;
    color:black;
    font-weight:100;
}
.left {
    text-align:left;
}
.stat {
    position:relative;
    color:#11b99c;
    margin-top:20px;
}
#derp {
    position:absolute;
    color:grey;
    font-size:19px;
    top:20px;
    left:25%;
    width:70px;
    height:40px;
    line-height:40px;
    background-color:#fafa89;
    border-radius:8px;
}
.hide {
    display:none;
}

::-webkit-input-placeholder {
    color:#c4c4c4;
    text-align:center;
    padding-top:1px;
    font-size:inherit;
}


a:link {
    color:#717171; 
    text-decoration:none; 
}      
a:visited {
    color:#717171; 
    text-decoration:none; 
}
a:hover {
    color:#11b99c; 
    text-decoration:none; 
    transition: 300ms;
}  