{% extends "base.html" %}

{% block content %}

<div>Hello! This web application facilitates the exchange of meal points for students at Washington University in St. Louis.</div><br>

<h2>Buying Meal Points</h2>
<div>Current offers are listed on the "buy" page. Choose the number of the offer that you want to buy and leave your email address; an email regarding the transaction will be sent to both you and the seller.</div><br>

<h2>Selling Meal Points</h2>
<div>Enter your amount, price per point, and contact info on the "sell" page.</div><br>

<h2>Wishlist</h2>
<div>You can let sellers know the amount of meal points and price per point that you would agree to. If a seller sees a post they like, they can leave their email address, and an email regarding the transaction will then be sent to both you and the interested seller.</div><br>

{% endblock %}
