<!DOCTYPE html>
<html>
    
<head>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<title>Washu Meal Point Exchange</title>
</head>

  	<body>
        <div id = "main_title">
        <a id = "main_title" href = "/">WashU Meal Point Exchange</a>
        </div>
        
        <div class = "navbar">
            <a class = "navlinks" href = "/">about</a>
            <a class = "navlinks" href = "/buy">buy</a>
            <a class = "navlinks" href = "/sell">sell</a>
            <a class = "navlinks" href = "/faq">faq</a>
        </div>
        {% block content %}
        {% endblock %}
    
	</body>
</html>