<!DOCTYPE html>
<!--[if IE]>
<script>alert("Please upgrade to a modern browser. Some features are not supported on Internet Explorer.");</script>
<![endif]-->
<html>
    
<head>
    
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600|Nunito' rel='stylesheet' type='text/css'>
        <link type="text/css" media="(max-width: 500px)" rel="stylesheet" href="/static/mobile.css" />
<link type="text/css" rel="stylesheet" href="/static/animate.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    
    
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    
    <title>Trade Meal Points</title>
    </head>

  	<body>
    <a href = "/" id = "front-title">WUSTL MEAL POINT EXCHANGE</a>
        
    {% block content %}
    {% endblock %}
    <div id = "buymecoffee" class = "animated fadeInUp">Like this web app? <a class = "text_link" href = '/getkarma'>Buy me a coffee.</a></div>    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/trademealpoints.js" type="text/javascript"></script>
        
	</body>
    
</html>