<!DOCTYPE html>
<html>
    
<head>
    
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600|Nunito' rel='stylesheet' type='text/css'><link type="text/css" rel="stylesheet" href="/static/main.css" />
    <meta name = "viewport" content = "width=device-width, maximum-scale=1">
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/trademealpoints.js" type="text/javascript" ></script>
    <title>Trade Meal Points</title>
        
    </head>

  	<body>
        
    <div id = 'front-title'><a href = "/" style = "color:black;">WUSTL MEAL POINT EXCHANGE</a></div>
    <div class = "white"></div>

    {% block content %}
    {% endblock %}
        
	</body>
</html>