{% extends "base.html" %}

{% block content %}

    <div id = " " style="position: fixed; width: 100%; text-align: center; bottom: 0px;" class = "animated fadeInUp"> Want this at a different school? email - icmpexch@gmail.com </div>   

<div class = "navbar">
    <a class = "current_link"  href = "/buy">BUY</a>
    <a class = "navlinks" href = "/sell">SELL</a>
    <a class = "navlinks" href = "/faq">F.A.Q</a>
</div>

<div class = "center">
    
{%if count == 0%}
    
<h2 class = 'spaceup'>It looks like every offer has been bought. <br>Check back later. :)</h2>

{%else%}    
    
<div class = "spacing200 tenbelow">
    
    <div class = "theader">
        
        <a id = "sortmp" class = "sort" current = "false">
            <span>
                <div class="filler"></div>
                DD
                <div class="ascend ascendwhite triangle"></div>
            </span>
        </a>
        
        <a id = "sortcost" class = "sort" current = "false">
            <span>
                <div class="filler"></div>
                $
                <div class="ascend ascendwhite triangle"></div>
            </span>
        </a>
        
        <a id = "sortprice" class = "sort" data = "normalsorted" current = "true">
            <span>
                <div class="smallfiller"></div>
                $/DD
                <div class="ascend triangle"></div>
            </span>
        </a>
    </div>
<!--     <div style="width: 70%; height: 20%; top: 30%; left: 17%; position: fixed; background: rgba(0,0,0,0.8);"> After 2 hours of launching, we have completed more than 30 deals and sent out 200 emails through the system. In order to ensure the stability of the system, we are taking a 120 minute break, please come back in 2 hours, all the current orders will not disappear, thanks for your patience! </div>
    <div id = 'entrytable'> -->

        {% for x in range(0, count) %}
    
            {% if sells[x].user.email == email %}
                <a class = "entrylink mylink" href="/contact?amount={{sells[x].amount}}&price={{sells[x].price}}">
            {%else%}
                <a class = "entrylink" href="/contact?amount={{sells[x].amount}}&price={{sells[x].price}}">
            {%endif%} 
                    <span class = "entry amount">{{sells[x].amount}}</span>
                    <span class = "entry cost">{{sells[x].amount|int*sells[x].price|float}}</span>
                    <span class = "entry price">{{sells[x].price}}</span>
                <br>
                </a>
                    
        {% endfor %}

        <a class = "text_link " style="z-index: 1000;" href = "/changeoffer">edit my offer</a></span><span style = "color:#c7c7c7;">
    </div>
</div>
    

<div style = "height:80px;"></div>

{%endif%}

</div>
{% endblock %}