{% extends "base.html" %}

{% block content %}
<div class = "navbar">
     <a class = "navlinks" href = "/buy">BUY</a>
    <a class = "current_link" href = "/sell">SELL</a>
    <a class = "navlinks" href = "/faq">F.A.Q</a>
</div>

<form method = "post" class = "center">
<h2 style = "text-align:center;font-size:21px;margin-bottom:20px;">DELETE OFFER</h2>
    
   <div class = "relist">

    <input type="text" placeholder = "email" name="email" value="{{email}}"><br>
    
    <input type="text" placeholder = "amount" name="amount" value="{{amount}}"><br> 

    <input type="text"  placeholder = "price"name="price" value="{{price}}"><br>
    
    <input type="submit" class = "button" value="okay">

    <div class="relist_stat">{{stat}}</div>
    </div>
</form>

{% endblock %}