{% extends "base.html" %}

{% block content %}
<div class = "navbar">
    <a class = "navlinks" href = "/buy">BUY</a>
    <a class = "current_link" href = "/sell">SELL</a>
    <a class = "navlinks" href = "/faq">F.A.Q</a>
</div>

<form method = "post" class = "center">
<h2 style = "text-align:center;font-size:20px;margin-bottom:20px;">EDIT OFFER</h2>

    <div>
        <img src = "/static/email.png" id = "expirepic" class = "icon" width="27px">
        <input type="text" placeholder = "ucsd email" name="email" value="{{email}}">
    </div>
    
    <input type="submit" class = "button spaceup" value="send me the link">

    <div class="stat">{{stat}}</div>
</form>

{% endblock %}