{% extends "base.html" %}

{% block content %}
<h1>edit your offer</h1>

<form method = "post">
   <div class = "editsell">

    <input type="text" class = "editsell_input" placeholder = "email" name="email" value="{{email}}"><br>
    
    <input type="text" class = "editsell_input" placeholder = "current amount"name="current_amount" value="{{current_amount}}"><br>

    <input type="text" class = "editsell_input" placeholder = "current price"name="current_price" value="{{current_price}}"><br>
        
    <input type="text" class = "editsell_input" placeholder = "new amount"name="new_amount" value="{{new_amount}}"><br>

    <input type="text" class = "editsell_input" placeholder = "new price"name="new_price" value="{{new_price}}"><br>
    
    <input type="submit" class = "editsell_button" value="okay">

    <div class="editsell_stat">{{stat}}</div>
    </div>
</form>

{% endblock %}