{% extends "base.html" %}

{% block content %}

<div class = "faq_box">
<div class = "spacing">
<h2>Which meal plans can transfer meal points?</h2>    
<div>Gold, Silver, Bronze, and Apartment.</div><br>

<h2>How do I buy meal points?</h2>
<div>Choose an offer and leave your email address; both you and the seller will receive an email; arrange with the seller to sign the transfer form at Dining Services.</div><br>

<h2>Where can I find more details on the meal point transfer process?</h2>
<div><a class = "text_link" href = "http://diningservices.wustl.edu/MEALPLANS/Pages/default.aspx">Here!</a></div><br>

<h2>Is it free to buy or sell meal points?</h2>
<div>WashU takes a 15 point transaction fee, 7.5 points per person.</div><br>

<h2>Do I have to pay to use trademealpoints?</h2>
<div>Nope. This web app is totally free to use.</div><br>


<h2>Should I leave some feedback below?</h2>
<div>No kidding. </div><br>
</div>

<div class = "thoughts">
<form method="post">
    <h3>questions/comments/feedback</h3>

    <label class = "faq_label">thoughts</label>
    <input type="text" name="feedback" class = "faq_input" value="{{feedback}}">
    
    <label class = "faq_label">first name</label>
    <input type="text" name="first_name" placeholder = "optional"class = "faq_input" value="{{first_name}}">
    
    
    <label class = "faq_label">last name</label>
    <input type="text" name="last_name" placeholder = "optional" class = "faq_input" value="{{last_name}}">
    
    
    <label class = "faq_label">email</label>
    <input type="text" name="email" placeholder = "optional" class = "faq_input" value="{{email}}">
    <div><input type="submit" class = "faq_button" value="okay"></div>
    <br>
    <div class = "faq_stat">{{stat}}</div>
</div>
</div>
</form>
{% endblock %}