{% extends "base.html" %}

{% block content %}

<div class = "faq_box spacing">
<div>This web app facilitates the exchange of meal points for students at Washington University in St. Louis.</div><br>

<h2>Buy meal points</h2>
<div>Click the offer that you want to buy and leave your email address; an email regarding the transaction will be sent to both you and the seller.</div><br>

<h2>Sell meal points</h2>
<div>Enter your amount, price per point, and contact info on the "sell" page.</div><br>
<h2 style = "font-size:23px;text-align:center; margin-bottom:25px;">F.A.Q</h2>    

    
<h2>Which meal plans can transfer meal points?</h2>    
<div>Gold, silver, bronze, and apartment.</div><br>

<h2>Is it free to buy or sell meal points?</h2>
<div>WashU takes a 15 point transaction fee, 7.5 points per person.</div><br>

<h2>Do I have to pay to use trademealpoints?</h2>
<div>No. This web app is totally free to use.</div><br>

<h2>Where can I find more details on the meal point transfer process?</h2>
<div><a class = "text_link" target="_blank" href = "http://diningservices.wustl.edu/MEALPLANS/Pages/default.aspx">Here.</a></div><br>


<form method="post" class = "center">
    <h3>questions/comments/feedback</h3>

    <input type="text" placeholder="thoughts" name="feedback" class = "faq_input" value="{{feedback}}">
    <input type="text" placeholder = "first name" name="first_name" placeholder = "optional"class = "faq_input" value="{{first_name}}">
    <input type="text" placeholder = "last name"  name="last_name" placeholder = "optional" class = "faq_input" value="{{last_name}}">
    <input type="text" name="email" placeholder = "email" class = "faq_input" value="{{email}}">
   
    <div><input type="submit" class = "faq_button" value="okay"></div>
    <br>
    <div class = "faq_stat">{{stat}}</div>
</form>
{% endblock %}