<!DOCTYPE html>
<html>
    
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/trademealpoints.js" type="text/javascript" ></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" media = "screen" href="/static/main.css" />
    
<meta name = "viewport" content = "width=device-width">
<title>Trade Meal Points</title>

</head>

<body>
    
    

    
<div id = "header">WUSTL MEAL POINT EXCHANGE</div>

<div id = "navbar">
    <span id = "buy-link" class = "navlinks" >BUY</span>
    <span id = "sell-link" class = "navlinks" style = "padding-left:10px;">SELL</span>
    <span id = "faq-link" class = "navlinks" style = "padding-left:10px;">FAQ</span>

    </div>    

    
    
<div id = "buy" class = "box">
    
    {%if count == 0%}
    <h4>It looks like every offer has been bought. <br>Check back later. :)</h4>
    
    {%else%}    
    <div class = "table">
        
        <div class = "theader">
            <span>MP</span>
            <span>$/MP</span>
            <span>$</span>
        </div>
           
        {% for x in range(0, count) %}
        
                <script>
                    var price = {{sells[x].price}}.toFixed(2)
                    var cost = {{sells[x].amount|int*sells[x].price|float}}.toFixed(1)
                </script>
        
                <a href="/contact?amount={{sells[x].amount}}&price={{sells[x].price}}">
                    
                    <span class = "entry">{{sells[x].amount}}</span>
                        
                    <span class = "entry"><script>document.write(price);</script></span>
                 
                    <span class = "entry"><script>document.write(cost);</script>
                </a>
                <br>
    
        {% endfor %}
        
    </div>
        
<!--
    <span><a class = "text_link" href = "/editoffer">edit </a></span><span style = "color:#c7c7c7;">|</span>
    <span><a class = "text_link" href = "/relistoffer">relist </a></span><span style = "color:#c7c7c7;">|</span>
    <span><a class = "text_link" href = "/deleteoffer">delete offer</a></span>
        
-->
    {%endif%}
    
</div>



<div id = "sell" class = "box center">

        <div class = "inputbox"><input type="text" placeholder = "amount"></div>
    
        <div class = "inputbox"><input type="text" placeholder = "$/mp"></div>
    
        <div class = "inputbox"><input type="text" placeholder = "email"></div>
        
        
        

        {%if need_code%} 
        <div><input type="text" placeholder = "first name"  name="first_name" value="{{first_name}}"></div>
        <div><input type="text" placeholder = "last name"  name="last_name" value="{{last_name}}"></div>
        <input type="text" placeholder = "verification code" name="code" value="{{code}}"><br>
        <button type="submit" name = "resend_button" class = "button resend_button" value = "resend code">resend code</button>
        {%endif%}

        <button type="submit" name = "submit_button" class = "button" value = "okay">submit</button>
    
    <div class = "stat">{{stat}}</div>
    <div class="stat">{{error}}</div> 
    
</div>



<div id = "faq" class = "box spacing">
    <div>This web app facilitates the exchange of meal points for students at Washington University in St. Louis.</div><br>
    
    <h2>Buy meal points</h2>
    <div>Click the offer that you want to buy and leave your email address. 
        When you verify your email address, an email regarding the transaction will automatically be sent to both you and the seller.</div><br>
    
    <h2>Sell meal points</h2>
    <div>Enter your offer details. 
        When you verify your email address, your offer will instantly appear on the buy list.</div><br>
        
    <h2 style = "font-size:23px;color:#727272;text-align:center; margin-bottom:40px;">F.A.Q</h2>    
    
    <h2>Do I have to pay to use trademealpoints?</h2>
    <div>No. This web app is totally free to use.</div><br>
        
    <h2>Which meal plans can transfer meal points?</h2>    
    <div>Gold, silver, bronze, and apartment.</div><br>
    
    <h2>Is it free to transfer meal points?</h2>
    <div>WashU takes a 15 point transaction fee, 7.5 points per person.</div><br>
    
    <h2>Why do I have to verify my email address?</h2>    
    <div>So the tmp bot doesn't get emails like asdf@wustl.edu.</div>
        <div>:p</div><br>
        
    <h2>How come I didn't get my verification email?</h2>    
    <div>If you use a different primary email, it takes a few minutes for wustl emails to forward. Try checking your wustl account directly.</div><br>
        
    <h2>What if I want to split up and sell my meal points?</h2>    
    <div>Post twice. You don't have to verify your email again.</div><br>
        
    <h2>Where can I find more details on the meal point transfer process?</h2>
    <div><a class = "text_link" target="_blank" href = "http://diningservices.wustl.edu/MEALPLANS/Pages/default.aspx">Here.</a></div><br>
    
        <div id = "feed" class = "center">
    
        <div id = "feedback_title" style = "font-size:24px;color: #32ac97;margin-bottom:25px;margin-top:5px;">COMMENTS</div>
    
        <div><textarea type="text" id = "feedback" cols="40" rows="5" placeholder="thoughts" name="feedback" value="{{feedback}}"></textarea></div>
        <div><input type="text" id = "name" placeholder = "name (optional)" name="name" value="{{name}}"></div>
        <div><input type="text" id = "email" name="email" placeholder = "email (optional)" value="{{email}}"></div>
       
        <div><button type="submit" id = "submit" class = "button" value="okay">okay</button></div>
        <div class = "stat">{{stat}}</div>
            
        </div>
</div>


</body>
    
</html>