{% extends "base.html" %}

{% block content %}

<div><a class = "navlinks" href = "/sell">sell</a></div>

<div>current offers:
<form method="post">
    {% for p in posts %}
        {{ p.render() | safe }}
        <br><br>
    {% endfor %}
</form>
</div>

<div class = "box">
    <h1>how to buy</h1>
    <ul id = "buy">
        <li>check the offers you want to buy</li>
        <li>jot down your contact info</li>
        <li>seller receives email with your contact info</li>
        <li>arrange w/ seller to sign the transfer form</li>
    </ul>
</div>
{% endblock %}
