{% extends "base.html" %}

{% block content %}

<h5>Hi {{first_name}}! You selected offer no. {{num}}</h5>
<h5>{{amount}} meal points for ${{price}} per meal point</h5>
<form method="post">

    <label class = "buy_label">last name</label>
    <input type="text" class = "buy_input" name="last_name" value="{{last_name}}">

    <label class = "buy_label">email</label>
    <input type="text" class = "buy_input" name="email" value="{{email}}">    
        
    <div><input type="submit" class = "contact_button" value="contact seller"></div>

    <div class = "stat">{{stat}}</div>
    <div class="stat">{{error}}</div> 
</form>

{% endblock %}