{% extends "base.html" %}

{% block content %}

<div class = "navbar">
    <a class = "current_link"  href = "/buy">BUY</a>
    <a class = "navlinks" href = "/sell">SELL</a>
    <a class = "navlinks" href = "/faq">F.A.Q</a>
</div>

<form method="post" class = "center animated fadeIn">
    
    <div class = "newbuy">
        <div class = "spaceup">
            BUY <span style = "color:#4ab8ca;" class = "amount">{{amount}}</span> DINING DOLLAR
        </div>
        
        <div>
            AT <span style = "color:#4ab8ca;">$</span><span style = "color:#4ab8ca;" class = "price" >{{price}}</span> PER DD
        </div>
        
        <div class = "tenbelow">
            FOR <span style = "color:#4ab8ca;">$</span><span style = "color:#4ab8ca;" class = "cost">{{amount|int*price|float}}</span>
        </div>
        
        <div>
            <img src = "/static/email.png" id = "emailpic" class = "icon" width="30px">
            <input type="text" placeholder = "ucsd email" class = "tenbelow emailinput" name="email" value="{{email}}">
        </div>  
    
        {%if need_code%} 
            <div><input type="text" placeholder = "phone number" name="phone" class = "tenbelow" value="{{phone}}"></div>
            <div><input type="text" placeholder = "first name" class = "tenbelow" name="first_name" value="{{first_name}}"></div>
            <div><input type="text" placeholder = "last name" name="last_name" class = "tenbelow" value="{{last_name}}"></div>
            <div><input type="text" placeholder = "verification code" name="code" class = "tenbelow" value="{{code}}"></div>
            <button type="submit" name = "resend_button" class = "button spaceup resend_button" value = "resend code">resend code</button>
        {%endif%}

        <button type="submit"  name = "submit_button" class = "button spaceup" value="contact seller">contact seller</button>
    </div>
    
    <div class = "stat">{{stat}}</div>
    
</form>

{% endblock %}