{% extends "base.html" %}

{% block content %}

<div class = "navbar">
    <a class = "current_link"  href = "/buy">BUY</a>
    <a class = "navlinks" href = "/sell">SELL</a>
    <a class = "navlinks" href = "/faq">F.A.Q</a>
</div>

<form method="post" class = "center adjust">
    <div style = "font-size:19px;">
        <div class = "spaceup">BUY <span style = "color:#32ac97;">{{amount}}</span> MEAL POINTS</div>
        <div>AT <span style = "color:#32ac97;">${{price}}</span> PER POINT</div>
        <script>var cost = {{amount|int*price|float}}.toFixed(1)</script>
        <div class = "tenbelow">FOR <span style = "color:#32ac97;">$<script>document.write(cost);</script></span></div>
        <div><input type="text" placeholder = "wustl email" class = "tenbelow spaceup" name="email" value="{{email}}"></div>  
    
    
    {%if need_code%} 
        <div><input type="text" placeholder = "first name" class = "tenbelow" name="first_name" value="{{first_name}}"></div>
        <div><input type="text" placeholder = "last name" name="last_name" class = "tenbelow" value="{{last_name}}"></div>
        <div><input type="text" placeholder = "verification code" name="code" class = "tenbelow" value="{{code}}"></div>
        <button type="submit" name = "resend_button" class = "button spaceup resend_button" value = "resend code">resend code</button>
        {%endif%}
    
    <button type="submit"  name = "submit_button" class = "button spaceup" value="contact seller">contact seller</button>
</div>
    <div class = "stat">{{stat}}</div>
    <div class="stat">{{error}}</div> 
</form>

{% endblock %}