{% extends "base.html" %}

{% block content %}

<div class = "apple">
<form method = "post">
    new meal point wish:
    <p class="big">
        
    <label class = "newwish_label">number of mp</label>
    <input type="text" class = "newwish_input" name="wish_amount" value="{{wish_amount}}">
    
    <label class = "newwish_label">price per mp</label>
    <input type="text" class = "newwish_input" name="wish_price" value="{{wish_price}}">
        
        
    <label class = "newwish_label">first name</label>
    <input type="text" class = "newwish_input" name="first_name" value="{{first_name}}">
   
    <label class = "newwish_label">last name</label>
    <input type="text" class = "newwish_input" name="last_name" value="{{last_name}}">
    
    <label class = "newwish_label">email</label>
    <input type="text" class = "newwish_input" name="email" value="{{email}}">
    {{error_email}}
        
    
    
    <div><input type="submit" value="Okay"></div>
    </p>
    <div class = "stat">{{stat}}</div>
    <div class="error">{{error}}</div> 
</form>
</div>
{% endblock %}