{% extends "base.html" %}

{% block content %}

<h1>new meal point wish</h1>

<form method = "post">
   
    <label class = "newwish_label">number of mp</label>
    <input type="text" class = "newwish_input" name="amount" value="{{amount}}">
    
    <label class = "newwish_label">price per mp</label>
    <input type="text" class = "newwish_input" name="price" value="{{price}}">
        
        
    <label class = "newwish_label">first name</label>
    <input type="text" class = "newwish_input" name="first_name" value="{{first_name}}">
   
    <label class = "newwish_label">last name</label>
    <input type="text" class = "newwish_input" name="last_name" value="{{last_name}}">
    
    <label class = "newwish_label">email</label>
    <input type="text" class = "newwish_input" name="email" value="{{email}}">
    {{error_email}}
        
    <input type="submit" class = "wish_button" value="okay">

    <div class = "stat">{{stat}}</div>
    <div class="error">{{error}}</div> 
</form>
{% endblock %}