{% extends "base.html" %}

{% block content %}

<h1>get dough for your unused meal points</h1>

<div class = "apple">
<form method="post">

        <label class = "sell_label">number of mp</label>
        <input type="text" class = "sell_input" name="amount" value="{{amount}}">
        {{error_amount}}
        
        
        <label class = "sell_label">price per mp</label>
        <input type="text" class = "sell_input" name="price" value="{{price}}">
        {{error_price}}
        
        
        <label class = "sell_label">first name</label>
        <input type="text" class = "sell_input" name="first_name" value="{{first_name}}">
   
        
        <label class = "sell_label">last name</label>
        <input type="text" class = "sell_input" name="last_name" value="{{last_name}}">
    
        
        <label class = "sell_label">email</label>
        <input type="text" class = "sell_input" name="email" value="{{email}}">
        {{error_email}}
        
        <input type="submit" class = "sell_button" value = "okay">  
    <div class = "stat">{{stat}}</div>
    <div class="error">{{error}}</div> 
</form>
</div>
{% endblock %}