{% extends "base.html" %}

{% block content %}

<form method="post" class = "center">

        <div><input type="text" placeholder = "number of mp"  name="amount" value="{{amount}}"></div>
        {{error_amount}}
        
        
        <div><input type="text" placeholder = "price per mp"  name="price" value="{{price}}"></div>
        {{error_price}}
        
        <div><input type="text" placeholder = "first name"  name="first_name" value="{{first_name}}"></div>
   
        <div><input type="text" placeholder = "last name"  name="last_name" value="{{last_name}}"></div>
    
        <div><input type="text" placeholder = "wustl email" name="email" value="{{email}}"></div>
        {{error_email}}
    
        {%if need_code%} 
        <input type="text" placeholder = "verification code"class = "sell_input" name="code" value="{{code}}">
        <input type="submit" name = "resend_button" class = "button" value = "resend code">
        {%endif%}

        <input type="submit" name = "submit_button" class = "button" value = "okay">  
    
    <div class = "stat">{{stat}}</div>
    <div class="error">{{error}}</div> 
</form>
{% endblock %}