{% extends "base.html" %}

{% block content %}
<form method = "post">

{%if count == 0 %}
<h1>no wishes for now...make <a href = "/newwish">new mp wish</a></h1>

{%else%}

<div class = "buy_outer">
<table class = "buy_inner">
<tr>
<th>wish#</th>
<th>amount</th>
<th>price</th>
</tr>
{% set number = 1%}
{% for wish in wishes %}
    <tr>  
        <td>{{number}}</td>
        {{ wish.render() | safe}}
    </tr>
    {%set number = number + 1%}
{% endfor %}
</table>
</div>


<div class = "review_outer">
<div class = "review_inner">
<div class = "buy_mp">sell to wisher</div>
<div><input type="text" class = "buy_input" placeholder = "wish#" name="num" value="{{num}}"></div>

<div><input type="text" class = "buy_input" placeholder = "first name" name="first_name" value="{{first_name}}"></div>

<div><input type="submit" class = "review_button" value="review offer"></div>
<div class="error">{{error}}</div>
<br><br>
    
<div class = "buy_links">
<div><a class = "text_link"href = "/editwish">edit my wish</a></div>
<div><a class = "text_link"href = "/relistwish">relist my wish</a>
</div>
<div><a class = "text_link" href = "/deletewish">delete my wish</a></div>
</div>
    
</div>
</div>

<div class = "new_mpwish"><a href = "/newwish">new mp wish</a></div>
    
{%endif%}
</form>
{% endblock %}
