{% extends "base.html" %}

{% block content %}
<div class = "age">{{age}}</div>
<div>mp wishlist</div>

{%if count == 0 %}
<div class = "wishbox">
no wishes for now...
</div>

{%else%}
<div class = "wishbox">
offers people are looking to buy:
<table>
<tr>
<th>amount of mp</th>
<th>price per mp</th>
</tr>
{% for wish in wishes %}
    {{ wish.render() | safe }}
{% endfor %}
</table>
<br>
</div>
{%endif%}

<div class = "wishbox">
make <a href = "/newwish">new meal point wish</a>
</div>
{% endblock %}