{% extends "base.html" %}

{% block content %}
<form method = "post">

{%if count == 0 %}
<h1>no wishes for now...</h1>
<h1>new meal point wish</h1>

<form method = "post">
   
    <label class = "newwish_label">number of mp</label>
    <input type="text" class = "newwish_input" name="amount" value="{{amount}}">
    
    <label class = "newwish_label">price per mp</label>
    <input type="text" class = "newwish_input" name="price" value="{{price}}">
        
        
    <label class = "newwish_label">first name</label>
    <input type="text" class = "newwish_input" name="first_name" value="{{first_name}}">
   
    <label class = "newwish_label">last name</label>
    <input type="text" class = "newwish_input" name="last_name" value="{{last_name}}">
    
    <label class = "newwish_label">email</label>
    <input type="text" class = "newwish_input" name="email" value="{{email}}">
    {{error_email}}
        
    <input type="submit" class = "wish_button" value="okay">

    <div class = "stat">{{stat}}</div>
    <div class="error">{{error}}</div> 
</form>
    
{%else%}
<span class = "pricenote">prices shown in dollars per mp</span>
<div class = "buy_outer">
<table class = "buy_inner">
<tr>
<th class = "table_head">wish#</th>
<th class = "table_head">amount</th>
<th class = "table_head">price</th>
</tr>
{% set number = 1%}
{% for wish in wishes %}
    <tr>  
        <td>{{number}}</td>
        {{ wish.render() | safe}}
    </tr>
    {%set number = number + 1%}
{% endfor %}
</table>
</div>
    
<div class = "review_outer">
<div class = "review_inner">
    
<div class = "buy_mp">sell to wisher</div>
    
<div><input type="text" class = "buy_input" placeholder = "wish#" name="num" value="{{num}}"></div>

<div><input type="text" class = "buy_input" placeholder = "first name" name="first_name" value="{{first_name}}"></div>

<div><input type="submit" class = "review_button" value="next"></div>
<div class="stat">{{stat}}</div>

<div class = "buy_links">
<div><a href = "/newwish" class = "text_link">new mp wish</a></div>
<div><a class = "text_link" href = "/editwish">edit my wish</a></div>
<div><a class = "text_link" href = "/relistwish">relist my wish</a></div>  
<div><a class = "text_link" href = "/deletewish">delete my wish</a></div>
</div>
    
</div>
</div>


    
{%endif%}
</form>
{% endblock %}
